.landing {
  display: block;

  width: 100%;
  max-width: 1280px;
  min-height: calc(100vh - 64px);

  margin: 128px auto;
  padding: 0 24px 64px 24px;

  line-height: 1.5;
  overflow: visible;
}

.module {
  flex-direction: column-reverse;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.module .title {
  margin-top: 48px;
  margin-bottom: 8px;

  line-height: 40px;
  font-size: 32px;
  font-weight: 500;

  color: rgb(31, 31, 31);

  max-width: 100%;
}

.content {
  max-width: 480px;

  margin-top: 0;
  margin-bottom: 24px;

  line-height: 32px;
  font-size: 24px;

  color: rgb(68, 71, 70);
}

.logo {
  border-radius: 96px;
}

@media (min-width: 960px) {
  .landing {
    padding: 0 40px 64px 40px;
  }

  .module {
    flex-direction: row;
  }

  .logo {
    border-radius: 144px;
  }

  .module .title {
    line-height: 72px;
    font-size: 64px;

    max-width: 70%;
  }

  .module > div {
    flex-basis: 50%;
  }

  .module > div:first-child {
    padding-right: 12px;
    padding-left: 30px;
  }

  .module > div:last-child {
    padding-right: 0;
    padding-left: 12px;
  }
}
